name: CI
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Copy repo files
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSHKEY }}
          source: "*"
          target: /home/${{ secrets.SSH_USERNAME }}/eventflow/frontend

      - name: Deploy via SSH connection
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSHKEY }}
          script: |
            cd /home/${{ secrets.SSH_USERNAME }}/eventflow/frontend

            npm install

            npm run build

            pm2 delete eventflow_frontend

            pm2 start npm --name "eventflow_frontend" -- start

            pm2 save

            sudo pm2 startup
